body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
main {
    margin-top: 5%;
    flex: 1 0 auto;
}
.container {
    margin-top: 5%;
}

.header-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 14%;
}

.header-logo img {
    width:100%;
    height:100%;
}


.divider {
    margin-top: 2%;
}
.navbar-fixed {
    font-family: 'Montserrat', 'Roboto', sans-serif;
}
.btn-large {
    margin-top: 1%;
}
.btn-large i {
    font-size: 2.2rem;
}
.btn-group-size {
    width: 100%;
}
.btm-margin {
    margin-bottom: 5%;
}
.btn-scnrio {
    background-color: #E65A50;
    color: #f5f5f5;
}

.collapsible {
    background: #f5f5f5;
}
.textwindow {
    background: #f5f5f5;
}
textarea.materialize-textarea {
    border-bottom: 1px solid #d3d3d3;
}
textarea.materialize-textarea:focus:not([readonly]) {
    color: #000;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
    color: #000;
}
.input-field label {
    color: #000;
}
.input-field label.active {
    color: black;
}
/*&:focus:not([readonly])+label {
     color: #f5f5f5;
 }*/
.card .card-action a {
    color: rgba(0, 0, 0, 0.65);
}
.card .card-action a:hover {
    color: #000;
    font-weight: bold;
}
.sdscroll-menu {
    width: 150%;
    height: 20vw;
    overflow-y: hidden;
    overflow-x: scroll;
    /*
    white-space: nowrap;
    height: 10vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;*/
}

/*html,body{
    height: 100%;
}*/
#container {
    height: 100%;
    overflow-y: auto;
    background: #bcaaa4;
}

#line1, #line2 {
    overflow-x: auto;
    white-space: nowrap;
    padding: 15px;
    padding-top: 10px;
    background: #bdbdbd;
    margin-left: 30px;
    margin-right: 0px;
}

.smallerDivs1 {
    height: 15vw;
    width: 15vw;
    margin: 1.5vw;
    margin-top: -3vw;
    display: inline-block;
    vertical-align: middle;
    background: #c0ca33;
    text-align: center;
    font-size: 6vw;
    padding: 3vw;
    color: white;
}

.smallerDivs {
    height: 15vw;
    width: 15vw;
    margin: 1.5vw;
    margin-top: -4%;
    margin-bottom: 6vw;
    display: inline-block;
    vertical-align: middle;
    background: #c0ca33;
    text-align: center;
    font-size: 6vw;
    padding: 3vw;
    color: white;
}

.scenario-bottom-div {
    margin-left: 15.5%;
}
.done {
    background-color: #c0ca33;
}
.arrow-left {
    position: absolute;
    left: -5px;
    margin-top: 29%;
    margin-left: 8%;
    display: inline-block;
    float: left;
    width: 5vw;
    height: 5vw;
}
.arrow-right {
    position: absolute;
    right: -5px;
    margin-top: 29%;
    margin-right: 4%;
    display: inline-block;
    float: right;
    width: 5vw;
    height: 5vw;
}
.arrow-left i {
    font-size: 8vw;
}
.arrow-right i {
    font-size: 8vw;
}
.upper {
    margin-top: 15%;
}
h4 {
    margin-bottom: -1%;
}
h5 {
    margin-bottom: -1%;
}
#toast-container {
    position: fixed !important;
    bottom: 275px !important;
    left: 0px !important;
}
#toast-container > div {
    text-align: center;
}
#toast-container.toast {
    text-align: center;
}
@media only screen and (min-width: 320px) {
    .page-bg {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 568px;
        background-image: url('../img/bg2.jpg');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

footer {
    color: #f5f5f5;
}

.secondary-content {
    margin-top: -50px;

}

.switch {
    display: inline-block;
}

#switchbutton {
    margin-left: -20px;
}

.log-options {
    font-size: 70%;
}

.select-wrapper input.select-dropdown {
    color: #ff7043;
}